@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,300;1,500&display=swap');

:root {
    --primary-color: #d8e91e;
    --secondary-color: #f2e76be9;
    --accent1-color: #302020;
    --accent2-color: #38b000;

    --heading-font: 'Open+Sans', Roboto;
    --paragraph-font: 'Open+Sans', Roboto;

    --nav-background-color: #7ed823;
    --nav-link-color: #1ad0f0;
    --nav-hover-link-color: #70e000;
    --nav-hover-background-color: #ee9696;
}

header {
    display: grid;
    grid-template-columns: 25% 75%;
    padding : 20px;
    width : auto;
    background-color : #381111;
    font-size: large;
    }

header img {
    grid-column: 1/2;
}

body {
    text-align : center;
    margin : 0 auto;
    padding : 20px;
    max-width : 960px;
    color : var(--accent1-color);
    }

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-column: 2/3;
}   

nav a {
    font-family: var(--paragraph-font);
    color: var(--primary-color)
}

.box {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

figure img {
    max-width: 120px;
}
.hero {
    position : relative;
    margin-top : 20px;
    }

.hero img {
    display : block;
    width : 100%;
    height : auto;
    }

.hero h1 {
    position : absolute;
    color : var(--primary-color);
    top : 5px;
    left : 300px;
    background-color : #3f2929e9;
    }

.hero article {
    position : absolute;
    top : 50%;
    left : 400px;
    background-color : #d8e91e;
    opacity : 0.7;
    }

.hero article img {
    float : right;
    width : 35%;
    }

h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color : var(--secondary-color);
    }

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: var(--paragraph-font);
    margin-top : 1rem;
    border-top : 2px solid #73caf9e9;
    }

.sociallinks {
    display: flex;
    justify-content: end;
}

a:link {
    text-decoration : none;
    }

footer img {
    width: 35%;

}