@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,300;1,500&display=swap');

:root {
    --primary-color: #2e5508;
    --secondary-color: #007200;
    --accent1-color: #ffffff;
    --accent2-color: #38b000;

    --heading-font: 'Open+Sans', Serif;
    --paragraph-font: 'Roboto', Serif;

    --nav-background-color: #7ed823;
    --nav-link-color: #1ad0f0;
    --nav-hover-link-color: #70e000;
    --nav-hover-background-color: #ee9696;
}

header {
    padding : 20px;
    width : 920px;
    background-color : #FECF00;
    }
    body {
    text-align : center;
    margin : 0 auto;
    padding : 20px;
    max-width : 960px;
    color : var(--accent1-color);
    }

    .hero {
    position : relative;
    margin-top : 20px;
    }

    .hero img {
    display : block;
    width : 100%;
    height : auto;
    }

    .hero h1 {
    position : absolute;
    color : var(--primary-color);
    top : 5px;
    left : 400px;
    background-color : #FECF00;
    opacity : 0.6;
    }

    .hero article {
    position : absolute;
    top : 50%;
    left : 400px;
    background-color : #FECF00;
    opacity : 0.7;
    }

    .hero article img {
    float : right;
    width : 50%;
    }

    h1, h2, h3, h4 {
    color : var(--secondary-color);
    }

    footer {
    margin-top : 1rem;
    border-top : 2px solid #A54C40;
    text-align : center;
    }
    
    a:link {
    text-decoration : none;
    }